.flex {
    margin: 155px 0;
    justify-content: center;
    display: flex;
    padding: 5px;
  }


  a {
    color: #0056B3;
  }
  .boosterPack-LINK:hover {
   
    background-color:yellow;
    padding: 10px;
    



  }